<div id="author-banner-container" class="author-banner">
    <div class="author-banner-close">
        <a id="author-banner-close-button" href="#" title="Schließen">
            <div class="author-banner-close-button"></div>
        </a>
    </div>
    <a id="author-banner-link" href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/DeinEngagement?campaign=WMDE_oceditors_spring_2020_3all">
		<div class="author-banner-inner">
			<div class="author-banner-space">
			</div>
			<div class="author-banner-title">
				<!-- Danke, deine Bearbeitungen verbessern Wikipedia! -->
			</div>
			<div class="author-banner-banner">
				<!-- Du bist nicht alleine: Förderangebote für Autorinnen und Autoren wie dich! -->
			</div>
			<div class="author-banner-illustration">
				<!-- illustration -->
			</div>
			<div class="author-banner-button">
				<!-- Her damit! -->
			</div>
		</div>
    </a>
</div>
