<div id="author-banner-container" class="author-banner">
    <div class="author-banner-close">
        <a id="author-banner-close-button" href="#" title="Schließen">
            <div class="author-banner-close-button"></div>
        </a>
    </div>
    <a id="author-banner-link" href="https://de.m.wikipedia.org/?banner=B19WMDE_neweditors_autumn_2019_lp1">
        <div class="author-banner-inner">
			<div class="author-banner-space">
			</div>
			<div class="author-banner-title">
				<!-- Danke, deine Bearbeitungen verbessern Wikipedia! -->
			</div>
			<div class="author-banner-banner">
				<!-- 3all: Du bist nicht alleine: Förderangebote für Autorinnen und Autoren wie dich! -->
				<!-- 2nt: Du willst mehr? Spannende Aufgaben & persönliche Unterstützung genau für dich. -->
			</div>
			<div class="author-banner-illustration">
				<!-- illustration -->
			</div>
			<div class="author-banner-button">
				<!-- 3all: Her damit! -->
				<!-- 2nt: Jetzt loslegen -->
			</div>
		</div>
    </a>
</div>
